@tailwind base;
@tailwind components;
@tailwind utilities;

body  {
    background-color: black;
    font-family: 'Neue Pixel Sans', Verdana, sans-serif;
    src: local('Neue Pixel Sans'), local('Neue Pixel Sans'), url(../fonts/neue-pixel-sans.regular.ttf) format('otf');
}

.image {
  height: 400px;
}

.blue {
    background-color: #0375B4
}
.green {
    background-color: #007849
}
.yellow {
    background-color: #FFC800
}

.orange {
    background-color: #FF8411
}

h1, h2, h3, h4, p {
    font-family: 'Neue Pixel Sans', Verdana, sans-serif;
    src: local('Neue Pixel Sans'), local('Neue Pixel Sans'), url(../fonts/neue-pixel-sans.regular.ttf) format('ttf');

}

.markdown-body {
    background: rgba(255, 255, 255,.1);
    height: 100%;
    font-family: 'Neue Pixel Sans', Verdana, sans-serif;
    src: local('Neue Pixel Sans'), local('Neue Pixel Sans'), url(../fonts/neue-pixel-sans.regular.ttf) format('ttf');
}

.markdown-body .article {
    background: white;
}

a.header-anchor {
    display:none;
}

.markdown-body a {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body strong {
  font-weight: inherit;
  font-weight: bolder;
}

.markdown-body h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: none;
}

.markdown-body h2 {
  font-size: 2em;
  font-weight: bold
}



.markdown-body p {
  padding-top: 20px;
  font-size: 28px;
}
