
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'neue_pixel_sansregular';
    //src: url('../fonts/neue-pixel-sans-regular-webfont.woff2') format('woff2'),
         //url('../fonts/neue-pixel-sans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body  {
    background-color: black;
}
.image {
  height: 400px;
}


a
h1, h2, h3, h4, p {
    font-family: 'neue_pixel_sansregular', sans-serif;
    //src: local('neue_pixel_sansregular'), url(../fonts/neue-pixel-sans-regular.ttf) format('ttf');
}

.markdown-body {
   background: rgba(255, 255, 255,.1);
   height: 100%;
   font-family: 'neue_pixel_sansregular', sans-serif;
   //src: local('neue_pixel_sansregular'), url(../fonts/neue-pixel-sans-regular.ttf) format('ttf');
   
}


a.header-anchor {
    display:none;
}

.markdown-body a {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  color: #0060f2;
  font-weight: bold;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body strong {
  font-weight: inherit;
  font-weight: bolder;
}

.markdown-body h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: none;
}

.markdown-body h2 {
  font-size: 2em;
  font-weight: bold
}

.markdown-body Label {
  font-size: 28px;
}

.markdown-body p {
  padding-top: 20px;
  font-size: 28px;
}
